@layer base {
	html {
		scroll-padding-top: 75px;
		scroll-behavior: smooth;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: var(--font-sora);
		font-weight: var(--font-weight-bold);
		color: var(--color-ink);
	}

	h1 {
		font-size: 2.5rem;
		line-height: 3rem;
	}

	h2 {
		font-size: 1.75rem;
		line-height: 2.25rem;
	}

	h3 {
		font-size: 1.125rem;
		line-height: 1.5rem;
	}

	@media (min-width: 1024px) {
		h1 {
			font-size: 52px;
			line-height: 4rem;
		}

		h2 {
			font-size: xx-large;
			line-height: 3rem;
		}
	}
}
